.Sales-main {
}

.sales-content h3 {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  color: #8c8c8c;
  font-size: 14px;
  margin-bottom: 2px;
}

.sales-content span {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  color: #141414;
  font-size: 30px;
  line-height: 30px;
}

.icons span {
  width: 48px;
  height: 48px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 16px;
  margin: auto;
  background-color: #1890ff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.12);
  display: flex;
  justify-content: center;
  align-items: center;
}

.sales-content small {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 14px;
  margin-left: 10px;
  color: #52c41a;
}
